{% extends "readbooks/base.html" %}

{% block title %}
    Book
{% endblock %}

{% block body %}
    <h1>Book Details</h1>
 <div class="container">
   <div class="row"> 
    <div class="col-sm-6">
        <h1><img src="http://covers.openlibrary.org/b/isbn/{{ book.isbn }}-M.jpg" /></h1>
    </div>    
    <div class="col-sm-6">
    <ul style = "font-size: 30px">
        <li>Title: {{ book.title }}</li>
        <li>ISBN: {{ book.isbn }}</li>
        <li>AUTHOR: {{ book.author}}</li>
        <li>YEAR: {{ book.year}}</li>
        <li>AVERAGE RATING: {{ avg_rat }}</li>
    </ul>
   </div>
   </div> 
 </div>
 <br>
  
<div class="container">
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">Critical Review</a></li>
    <li><a data-toggle="tab" href="#menu1">User Reviews</a></li>
  </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <h3>Critical Review</h3>
      {% for d in rev_data %}
        {% if d.snippet == "danmsg" %} 
          <h2>No Critical Reviews available for this Book</h2> 
        {% else %}  
          <p>{{d.snippet}}<a href="{{d.review_link}}">Read more...</a></p>
          <ul>
              <li>Source : {{d.source}}</li>
              <li>Rating : {{d.star_rating}}</li>
              <li>Review Date : {{d.review_date}}</li>
          </ul>

        {% endif %} 
      {% endfor %}
    </div>
    <div id="menu1" class="tab-pane fade">
      <h3>User Reviews</h3>
      
      {% for b in book_review %}
         <p>{{b.content}}</p>
      {% endfor %}

    </div>
  </div>
</div>
<br>
   <div class="container">
    <div class = "form-group">
    	<h2>write a review</h2>
    	<form class="site-form" action="{% url 'Create_Review' %}" method="POST">
            {% csrf_token %}
            <div class="form-group" hidden>
                <select class="form-control" name="Bookid">
                    <option value="{{ book.id }}">{{ book.id }}</option>
                 </select>
            </div>
            {% csrf_token %}
    		{{form}}
            <br>
    		<input class="btn btn-primary" type = "submit" value ="Submit review">
        </form>		
    </div>
   </div>  	

{% endblock %}