{% extends "readbooks/base.html" %}

{% block title %}
    Flights
{% endblock %}

{% block body %}
    <h1>Search for Books</h1>

    <form action="{% url 'book' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <select class="form-control" name="search_key">
                    <option value="title">Title</option>
                    <option value="isbn">ISBN</option>
                    <option value="author">Author</option>
                    <option value="author">All</option>
            </select>
        </div>

        <div class="form-group">
            <input class="form-control" name="name" placeholder="Title/ISBN/Author">
        </div>

        <input type="submit" value="Search Book"/>

    </form>
{% endblock %}
