{% extends "readbooks/base.html" %}
<style type = "text/css">
  body{
     margin: 0;
     padding: 0;
     background-color: #E4E4E4;
  }
</style>

{% block body %}
    <h1>Search for Books</h1>

    <form action="{% url 'book' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <select class="form-control" name="search_key">
                    <option value="title">Title</option>
                    <option value="isbn">ISBN</option>
            </select>
        </div>

        <div class="form-group">
            <input class="form-control" name="name" placeholder="Title/ISBN">
        </div>

        <input type="submit" value="Search Book"/>

    </form>
{% endblock %}
